@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{
    background-color: rgba(232, 232, 232, 1);
    overflow-x: hidden;
}


.Greeting{
    padding: 15px;
    width: 220px;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: 6px;
}
.Date{
    color:#6e6e6e;
    opacity: 0.9;
    font-weight: bolder;
    transform: translateY(-13px);
    margin-left: 15px;

}

.Hour{
    color:white;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    margin-left: 15px;

}

.City{
    color: white;
    font-size: 4rem;
    transform: translateY(2rem);
    font-family: 'Lato', sans-serif;
}

.Grades{
    color: white;
    font-size: 7rem;
    transform: translateY(2rem);
    font-family: 'Lato', sans-serif;

}

.Other{
    display: grid;
    justify-items: center;
}

.Box{
    transform: translateY(3rem);
    background-color:#f7faf8;
    padding: 30px;
    border-radius: 6px;
    box-shadow: -10px 12px 12px 2px steelblue;
}

.Wind{
    font-size: 2rem;
}

.Pressure{
    font-size: 2rem;
}

.Humidity{
    font-size: 2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Center-Data{
    display: grid;

    text-align: center;
}

.weather{
    background-color:#80BDE3;
    opacity: 0.7;
    width: 380px;
    height: 660px;
    border-radius: 25px;
    transform: translateY(3rem);
    box-shadow: 2px 0 2px 5px black;
}


/*NUBE CSS PERSONALIZADA*/
#clouds{
    transform: translateY(-12rem);
    
}
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/


/*variable speed, opacity, and position of clouds for realistic effect*/
.x1 {
	left: 290px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.8; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x2{
    left: 290px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.9);
	opacity: 0.8; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 16s linear infinite;
	-moz-animation: moveclouds 16s linear infinite;
	-o-animation: moveclouds 16s linear infinite;

}

.x3{
    left: 290px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.9);
	opacity: 0.8; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 14s linear infinite;
	-moz-animation: moveclouds 14s linear infinite;
	-o-animation: moveclouds 14s linear infinite;

}

.x4{
    left: 290px;
    bottom: 400px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.9);
	opacity: 0.8; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 12s linear infinite;
	-moz-animation: moveclouds 12s linear infinite;
	-o-animation: moveclouds 12s linear infinite;

}

.x5{
    left: 290px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.9);
	opacity: 0.8; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation: moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
}



@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}


/*NUBE GRANDE */

/*
.Box {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.Box:before, .Box:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.Box:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

*/